.myDiv{
    text-align: right;
    word-spacing: 50px;
    font-family: inter-Extrabold;
}

.myMainBody{
    text-align: left;
}

#myImage{
    width: 700px;
    height: 300px;   
}

#firstId{
    font-family: bold;
    display: flex;
    flex-direction: column;
}

#second{
    text-align: right;
}